<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>AppName</key>
		<string>San Andreas</string>
		<key>AppId</key>
		<string>6748644645</string>
		<key>AppId_Backup</key>
		<string>x</string>
		<key>AppSubtitle</key>
		<string>x</string>
		<key>AppWebsite</key>
		<string>x</string>
		<key>PrivacyPolicy</key>
		<string>https://arleven.com/projects/San%20Andreas/privacy</string>
		<key>Terms</key>
		<string>https://arleven.com/projects/San%20Andreas/tnc</string>
		<key>ShareMessage</key>
		<string>x</string>
		<key>InstagramAccount</key>
		<string>x</string>
		<key>InstagramHashtag</key>
		<string>x</string>
		<key>InstagramURL</key>
		<string>x</string>
		<key>InstagramWebURL</key>
		<string>x</string>
	</dict>
	<key>Notifications</key>
	<dict>
		<key>OneSignalAppId</key>
		<string>x</string>
		<key>LocalPushOn</key>
		<false/>
		<key>LocalFrequency</key>
		<array>
			<integer>3</integer>
			<integer>6</integer>
			<integer>10</integer>
			<integer>16</integer>
			<integer>21</integer>
			<integer>26</integer>
			<integer>33</integer>
			<integer>38</integer>
			<integer>43</integer>
			<integer>48</integer>
			<integer>53</integer>
			<integer>58</integer>
			<integer>63</integer>
			<integer>68</integer>
			<integer>73</integer>
			<integer>88</integer>
		</array>
		<key>LocalMessages</key>
		<array>
			<string>👋</string>
		</array>
	</dict>
	<key>Support</key>
	<dict>
		<key>SupportAppName</key>
		<string>San Andreas</string>
		<key>email</key>
		<string>info@arleven.com</string>
		<key>support_topics</key>
		<array>
			<string>x</string>
			<string>x</string>
			<string>x</string>
			<string>x</string>
			<string>x</string>
			<string>x</string>
		</array>
	</dict>
	<key>Analytics</key>
	<dict>
		<key>BranchKeyProd</key>
		<string>x</string>
		<key>BranchKeyDev</key>
		<string>x</string>
		<key>MixpanelTokenDev</key>
		<string>x</string>
		<key>MixpanelTokenProd</key>
		<string>x</string>
		<key>AmplitudeTokenDev</key>
		<string>x</string>
		<key>AmplitudeTokenBeta</key>
		<string>x</string>
		<key>AmplitudeTokenProd</key>
		<string>x</string>
		<key>AmplitudeTokenDev_Backup</key>
		<string>x</string>
		<key>AppsFlyerKeyDev</key>
		<string>x</string>
		<key>AppsFlyerKeyProd</key>
		<string>x</string>
		<key>FlurryKeyDev</key>
		<string>x</string>
		<key>FlurryKeyProd</key>
		<string>x</string>
		<key>FlurryCrashReportingEnabled</key>
		<false/>
		<key>TokenDev_Backup</key>
		<string>x</string>
	</dict>
	<key>ARUIKit</key>
	<dict>
		<key>Onboarding</key>
		<dict>
			<key>WelcomeMessage</key>
			<string>x</string>
			<key>BackgroundImage</key>
			<string>x</string>
		</dict>
		<key>Home</key>
		<dict>
			<key>TitleFont</key>
			<string>Baskerville</string>
			<key>UseImages</key>
			<false/>
			<key>UseInstafeed</key>
			<true/>
			<key>UseVideo</key>
			<false/>
			<key>UseStoreHeaderIcon</key>
			<true/>
			<key>UseCircularCrop</key>
			<false/>
			<key>ImageNames</key>
			<array>
				<string>homeImage3.jpg</string>
			</array>
			<key>VideoName</key>
			<string></string>
		</dict>
		<key>Splash</key>
		<dict>
			<key>Title</key>
			<string>x</string>
			<key>AnimationDuration</key>
			<integer>3</integer>
			<key>FontSize</key>
			<integer>16</integer>
			<key>FontName</key>
			<string>Baskerville</string>
			<key>FontKerning</key>
			<integer>12</integer>
			<key>ShouldShowPrivacyRequestOnSplash</key>
			<true/>
		</dict>
	</dict>
	<key>Instafeed</key>
	<dict>
		<key>suggestedInstagramLink</key>
		<string>x</string>
		<key>NumCellsPerRow</key>
		<string>3</string>
		<key>OpensInstagram</key>
		<false/>
		<key>DefaultURLs</key>
		<array>
			<string>x</string>
		</array>
	</dict>
	<key>Hashtag</key>
	<dict>
		<key>TagSet</key>
		<string>repostplus</string>
	</dict>
	<key>Product</key>
	<dict>
		<key>RevenueCatKeyDev</key>
		<string>x</string>
		<key>RevenueCatKeyProd</key>
		<string>x</string>
		<key>RevenueCatKeyDev_Backup</key>
		<string>x</string>
	</dict>
	<key>Tags</key>
	<dict>
		<key>Prefix</key>
		<string>x</string>
		<key>CustomTag</key>
		<string>x</string>
	</dict>
	<key>Backend</key>
	<dict>
		<key>BackendApplicationId</key>
		<string>x</string>
		<key>BackendClientKey</key>
		<string>x</string>
		<key>BackendServer</key>
		<string>x</string>
	</dict>
	<key>BackendDev</key>
	<dict>
		<key>BackendApplicationId</key>
		<string>x</string>
		<key>BackendClientKey</key>
		<string>x</string>
		<key>BackendServer</key>
		<string>x</string>
	</dict>
	<key>Review</key>
	<dict>
		<key>PFM_Exclusions</key>
		<array>
			<string>1</string>
		</array>
	</dict>
</dict>
</plist>
